.search-channels {
    box-sizing: border-box;
    width: 100%;

    * {
        box-sizing: border-box;
    }

    font-family: arial;
    font-size: 18px;
    form {
        display: flex;
        flex-dirction: row;
    }
    .channels-results {
        margin-top: 50px;
        display: grid;
        grid-gap: 50px 10px;
        grid-template-columns: 25% 25% 25% 25%;
        width: calc(100% - (4 * 10px));

        .channel-item {
            text-align: center;

            a {
                display: inline-block;
                text-decoration: none;
                max-width: 100%;
            }

            &:hover {
                img {
                    opacity: .7;
                }
            }

            .thumbnail {
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid #000;
                width: 100%;
               
                img {
                    object-fit: cover;
                    width: 100%;
                }
            }

            .user-info {
                .display-name {
                    color: #000;
                    vertical-align: middle;
                }

                .title {
                    display: inline-block;
                    font-size: .8em;
                    color: #000;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 300px;
                    max-width: 100%;
                }

            }

            &.live {
                .thumbnail {
                    border-color: #c00;
                }

                .user-info {
                    .display-name {
                        color: #c00;
                        vertical-align: middle;
                    }

                    .live-icon {
                        vertical-align: middle;
                        margin-left: 10px;

                        svg {
                            fill: #c00;
                        }
                    }


                }
            }
        }
    }
}