.channels-grid {
    margin-top: 20px;
    display: grid;
    grid-gap: 50px 10px;
    grid-template-columns: 25% 25% 25% 25%;
    width: calc(100% - (4 * 10px));

    .item {
        text-align: center;

        a {
            display: inline-block;
            text-decoration: none;
            max-width: 100%;
        }

        &:hover {
            img {
                opacity: .7;
            }
        }

        .thumbnail {
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #000;
            width: 100%;
            max-width: 300px;
            max-height: 300px;
            opacity: .5;

            img {
                object-fit: cover;
                width: 300px;
                height: 300px;
                max-width: 100%;
                max-height: 100%;
            }
        }

        .user-info {
            .display-name {
                color: #000;
                vertical-align: middle;
            }



        }

        .stream-info {
            width: 100%;
            text-align: center;

            .title {
                display: inline-block;
                font-size: .8em;
                color: #000;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 300px;
                max-width: 100%;
            }

            .viewer-count {
                line-height: 1em;

                .icon {
                    display: inline-block;
                    vertical-align: middle;
                    width: 24px;
                    height: 24px;

                    svg {
                        fill: #00c;
                    }
                }

                .count {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 0px;
                    color: #00c;
                }
            }
        }

        &.live {
            .thumbnail {
                border-color: #c00;
                opacity: 1;
            }

            .user-info {
                .display-name {
                    color: #c00;
                    vertical-align: middle;
                }

                .live-icon {
                    vertical-align: middle;
                    margin-left: 10px;

                    svg {
                        fill: #c00;
                    }
                }


            }
        }


    }
}